{% extends 'base.html.twig' %}

{% block title %}LISA OBECDNOSCI{% endblock %}
{% block body %}
<div class="content">
        <div class="row">
            <div class="select-box col-sm-8">
            {{ form_start(select, {'attr': {'class':'form-inline' }}) }}
                    <div class="form-group mx-sm-3 mb-2">
                        {{ form_widget(select.month, {'attr': {'class':'form-control' }}) }}
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        {{ form_widget(select.select, {'attr': {'class':'btn btn-secondary' }}) }}
                    </div>
            {{ form_end(select) }}
            </div>
            {% if app.session.flashBag.has('success') %}
                <div class="col-sm-4">
                    <div class="alert alert-success bg-success text-white space" id="success-alert">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                          <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                </div>
        {% endif %}
      </div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                {% for day in daysAWeek %}
                   <th>{{ day|trans }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>Nr.</th>
                <th>Imię<br>Ucznia</th>
                {% for day in choice_mounts %}
                   <th>{{day}}/{{ monthInNumers[day-1] }}</th>
                {% endfor %}
                <br>
            </tr>
        </thead>
        <tbody>
         {% for student in attendance %}
                <tr>
                    <td class="student">{{student.id}}</td>
                    <td class="student">{{student.name}}<br>{{student.surname}}</td>
                    {% for day in choice_mounts%}             
                            <td student-col-id = "{{student.id}}" data-select="{{"now"|date("Y")}}-{{monthInNumers[day-1]}}-{{day}}">
                                 {% for stat in student.attendance %}
                                        {% if day == stat.date|date("d") and monthInNumers[day-1] == stat.date|date("m") %}                           
                                            <button data-id="{{stat.id}}" 
                                                    data-student-id ="{{ student.id }}"
                                                    type="button" class="btn btn-select" 
                                                    data-toggle="modal" 
                                                    data-target="#updateFormModal" 
                                                    data-date="{{ stat.date|date("Y-m-d")}}" 
                                                    data-name="{{student.name}} {{student.surname}}" 
                                                    data-status="{{ stat.status }}">
                                                {% if stat.status == ""%}
                                                    -
                                                {%else%}
                                                    {{ stat.status }}
                                                {% endif%}
                                            </button>
                                        {% endif %}                               
                                  {% endfor %}
                            </td>
                    {% endfor %}
                    </tr>
         {% endfor %}
        </tbody>
    </table>
</div>
   
<div class="modal fade" id="updateFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <span id="att_id" student=""></span>
          <span id="data-current"> </span>
        <form id="update_attendance_form" class="form-inline">
          <div class="form-group">
              
            <label for="recipient-name" class="col-form-label col-sm-4">Status:</label>
            <select name="status" id="attendance_status" class="form-control col-sm-8">
                <option value="">Pusty</option>
                <option value="O">Obecny</option>
                <option value="N">Nieobecny</option>
                <option value="S">Spoźniony</option>                                              
            </select>
          </div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary">Aktualizuj</button>
                </form>

      </div>
    </div>
  </div>
</div>
         
<div class="modal fade" id="createFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title">Dodaj status studenta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <span id="createDate"></span>
          <span id="createStudent" class="hidden"></span>
        <form id="create_attendance_form" class="form-inline">
          
          <div class="form-group">
              
            <label for="recipient-name" class="col-form-label col-sm-4">Status:</label>
            <select name="status" id="attendance_status_create" class="form-control col-sm-8">
                <option value="">Pusty</option>
                <option value="O">Obecny</option>
                <option value="N">Nieobecny</option>
                <option value="S">Spoźniony</option>                                              
            </select>
          </div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary">Dodaj</button>
                </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}