{% extends 'base.html.twig' %}
{% block body %}

   {{ form_start(attendanceForm, {'attr':{'id':'update_attendance_form'}}) }}
        {{ form_widget(attendanceForm) }}
      
         {{ form_end(attendanceForm) }}
         {% endblock%}