body {
    font-family: Arial;
    font-weight: 100;
    line-height: 15.4px;
    color: #9fa4a8!important;
              }
table {
    width: 100%;
    border: 1px solid #a7abaf;
    border-collapse: collapse;
    margin:0;
    padding:0;
    font-size:12px;
th {
    border: 1px solid #a7abaf;
    padding: 7px;
              }
td {
    border: 1px solid #a7abaf;
    padding: 0px;
    text-align: center;
            button{
         width:100%;
         height:100%;
         &.btn-select{
            background:#fff;
            color: #9fa4a8;
            border-radius:0;
            outline: 0;
            box-shadow:none;
            &:hover,&:focus{
                background:#CC7832;
                color: #fff;
                border-radius:0;
                outline: 0;
                box-shadow:none;
            }

         }
     }
        .student {
            padding:7px;
                &:hover,&:focus{
                   background: none;
                   color: #9fa4a8;
                }
        }
     }

}
.content{
    width:90%;
    margin:0 auto;
    position: relative;
}
.select-box{
    width:auto;
}
form{
    padding:15px 0;
    
    label{
        padding-right:15px;
    }
    .btn{
        border-radius:0;
    }
}
button{
    &.btn{
      border-radius:0;

    }
}
.space{
    margin-top:10px;
}
.close{
    text-shadow:0;
    margin-top:-2px;
}
div{
    &.alert{
    border-radius:0;
    }
    &.modal-content{
        border-radius:0;
    }
    
}
