{% extends 'base.html.twig' %}
{% block body %}

{{ form_start(attendanceForm, {'attr':{'id':'update_attendance_form'}}) }}
        {{ form_widget(attendanceForm) }}
       
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Aktualizuj</button>
      </div>
         {{ form_end(attendanceForm) }}
         
         {% endblock %}